body{
    
    background-color: #e6eed6;
}            
h1{
    font-family: Helvetica;
                
}
p {
    font-family: Verdana;
}
.size_1 {
    font-size: 1.5em;
}
.size_2 {
    font-size: 2.0em;
}
.size_3 {
    font-size: 2.5em;
}
            
#city {
    color: #4aaeff; 
}
